FRAME_CLASS	1
FRAME_TYPE	1
SERIAL7_BAUD 115
SERIAL7_OPTIONS 0
SERIAL7_PROTOCOL 9
EK3_RNG_USE_HGT -1
RNGFND1_ADDR 0
RNGFND1_FUNCTION 0
RNGFND1_OFFSET 0
RNGFND1_PIN -1
RNGFND1_PWRRNG 0
RNGFND1_RMETRIC 1
RNGFND1_SCALING 3
RNGFND1_STOP_PIN -1
RNGFND1_TYPE 20
RNGFND1_MIN 0.05
RNGFND1_MAX 12
RNGFND1_GNDCLR 0.15
RNGFND1_ORIENT 25
RNGFND1_POS_X 0
RNGFND1_POS_Y 0
RNGFND1_POS_Z 0
