AHRS_EKF_TYPE 3
ARMING_CHECK 1043902
EK3_GPS_CHECK 0
EK3_SRC_OPTIONS 0
GPS1_TYPE 0
SIM_GPS1_ENABLE 0
SIM_GPS1_TYPE 0
SIM_GPS2_ENABLE 0
SIM_GPS3_ENABLE 0
SIM_GPS4_ENABLE 0
VISO_TYPE 1
EK3_SRC1_POSXY 6
EK3_SRC1_POSZ 2
EK3_SRC1_VELXY 0
EK3_SRC1_VELZ 0
EK3_SRC1_YAW 6
SCR_ENABLE 1
AHRS_ORIG_ALT 584
AHRS_ORIG_LAT -35.363262
AHRS_ORIG_LON 149.165237
SERIAL7_BAUD 115
SERIAL7_OPTIONS 0
SERIAL7_PROTOCOL 9
EK3_RNG_USE_HGT -1
RNGFND1_ADDR 0
RNGFND1_FUNCTION 0
RNGFND1_OFFSET 0
RNGFND1_PIN -1
RNGFND1_PWRRNG 0
RNGFND1_RMETRIC 1
RNGFND1_SCALING 3
RNGFND1_STOP_PIN -1
RNGFND1_TYPE 20
RNGFND1_MIN 0.05
RNGFND1_MAX 12
RNGFND1_GNDCLR 0.15
RNGFND1_ORIENT 25
RNGFND1_POS_X 0
RNGFND1_POS_Y 0
RNGFND1_POS_Z 0
COMPASS_USE 0
COMPASS_USE2 0
COMPASS_USE3 0
